<div class="search">
  <input type="text" placeholder="搜索感兴趣的文章或商品">
</div>

<div class="good">
  <h3>精品分类</h3>
  <ul>
      <li>厨房</li>
      <li>厨房</li>
      <li>厨房</li>
      <li>厨房</li>
      <li>厨房</li>
      <li>厨房</li>
      <li>厨房</li>
      <li>厨房</li>
      <li>厨房</li>
  </ul>
</div>

<div class="hot">
      <h3>热门标签</h3>
      <ul>
          <li>润唇膏</li>
          <li>润唇膏</li>
          <li>润唇膏</li>
          <li>润唇膏</li>
          <li>润唇膏</li>
          <li>润唇膏</li>
          <li>润唇膏</li>
          <li>润唇膏</li>
          <li>润唇膏</li>
      </ul>
  </div>