.header{
    width: 100%;
    height: 1.037037rem;
    box-sizing: border-box;
    padding: 0 .481481rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h_icon{
    
}